@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('./fonts/TTLakes-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('./fonts/TTLakes-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('./fonts/TTLakes-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.drawer {
    display: flex;
    position: fixed; /* Чтобы сделать скролл только боковой панели фиксируем её */
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    /* z-index: 9999; */
    flex-direction: column;
    justify-content: space-between;
    /* overflow: hidden scroll; */
    width: 320px;
    /* height: 1024px; */
    height: 100vh;
    font-family: 'TT Lakes', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    box-shadow: 0px 0px 25px 25px rgba(0, 0, 0, 0.2);
}

/* has(.drawer-checkbox:checked) body {
    overflow: hidden;
} */

/* .drawer-header { */
    /* display: flex; */
    /* align-items: flex-start; */
    /* justify-content: space-between; */
    /* width: 320px; */
    /* height: 116px; */
/* } */

.drawer-wrapper {
    display: flex;
    justify-content: space-between;
}

.drawer-wrapper-left, .drawer-wrapper-right {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 16.73px;
    padding: 23px 24px;
}

.drawer-burger, .drawer-search, .drawer-chat-copy, .drawer-chat, .drawer-profile {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0.5px solid rgba(0, 0, 0, 0);
}

/* .drawer-nav-wrapper { */
    /* position: relative; */
    /* overflow: hidden; */
    /* font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px; */
    /* margin-top: 46.46px; */
    /* margin-left: 0; */
/* } */

/* Можно ли объединять таким образом стили? list-style: none; в .drawer-address не обязателен. Или лучше писать для каждого отдельно? */
.drawer-nav-links, .drawer-address {
    display: flex;
    flex-direction: column;
    /* overflow-y: auto; */
    /* list-style: none; */
}

.drawer-nav-links a {
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    padding: 16px 24px;
    text-decoration: none;
    color: #1B1C21;
}

.drawer-nav-links li {
    display: flex;
    position: relative;
    align-items: center;
}

.drawer-nav-links li::before {
    content: '';
    position: relative;
    /* left: 0;
    top: 116px; */
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    border-radius: 0px 4px 4px 0px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

/* Можно ли объединять таким образом наведение :hover? Для .drawer-nav-links li:hover::before нужно только opacity: 1; а для .drawer-nav-links a:hover и .drawer-lang-list a:hover - color: #7E7E82;. Или лучше писать для каждого отдельно? */
/* .drawer-nav-links li:hover::before, a:hover, .drawer-lang-list a:hover {
    opacity: 1;
    color: #7E7E82;
} */

/* Разделил opacity: 1; и color: #7E7E82; */
.drawer-nav-links li:hover::before, .drawer-link-1.is-active::before {
    opacity: 1;
}

.drawer-nav-links a:hover, .drawer-lang-list a:hover, .drawer-lang-list .is-active, .drawer-link-1.is-active a {
    color: #7E7E82;
}

/* .drawer-link-1.is-active::before {
    opacity: 1;
    color: #7E7E82;
    pointer-events: none; / Запрещаем кликать по уже активному языку /
} */

.drawer-footer-buttons {
    display: flex;
    gap: 16px;
    margin-top: 50px;
    padding: 16px 24px;
}

/* .drawer-address {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
} */

.drawer-address a {
    text-decoration: none;
    font-style: normal;
    color: #1B1C21;
    padding: 0px 24px 12px;
}

/* .drawer-mail-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
} */

.drawer-call-link {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
}

.drawer-lang-list {
    display: inline-flex;
    gap: 7px;
    list-style: none;
    margin: 40px 24px 32px;
    /* padding: 24px 24px; */
    /* flex-direction: row; */
    /* text-decoration: none; */
    /* font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px; */
}

.drawer-lang-list a {
    text-decoration: none;
    color: #1B1C21;
}